{% extends "layout.html" %}

{% block pageTitle %}
  NPD search and filter
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}



  <h1 class="govuk-heading-xl govuk-!-width-two-thirds">
    Find and explore data in the National Pupil Database
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="/filters/search" method="post" novalidate>
      <div class="govuk-form-group">
        <label class="govuk-label" for="name">
          Search
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="search" name="search" type="text" value=""><button type="submit" class="govuk-button govuk-button-search">Search</button>
      </div>
    </form>
    </div>
  </div>

  <div class="govuk-grid-row">
    <h3 class="govuk-grid-column-full govuk-heading-m">Categories</h3>

    <div class="govuk-grid-column-one-third start-categories">
      <a href="#2" class="govuk-body">Age</a>
      <p class="govuk-!-font-size-16 govuk-!-margin-top-1">Pupil ages (in years and months) at the start of the academic year</p>
    </div>

    <div class="govuk-grid-column-one-third start-categories">
      <a href="#2" class="govuk-body">Absence & Exclusion</a>
      <p class="govuk-!-font-size-16 govuk-!-margin-top-1">Authorised and unauthorised absences by absence type, overall by academic year and broken down annually and by term.</p>
    </div>

    <div class="govuk-grid-column-one-third start-categories">
      <a href="#2" class="govuk-body">Attainment</a>
      <p class="govuk-!-font-size-16 govuk-!-margin-top-1">Attaintment details, multi-year discount flag, establishment and awarding body reference numbers</p>
    </div>

    <div class="govuk-grid-column-one-third start-categories">
      <a href="#2" class="govuk-body">Educational history</a>
      <p class="govuk-!-font-size-16 govuk-!-margin-top-1">Schools attended (Post 16 only)</p>
    </div>

    <div class="govuk-grid-column-one-third start-categories">
      <a href="#2" class="govuk-body">Educational phase</a>
      <p class="govuk-!-font-size-16 govuk-!-margin-top-1">Educational phase, actual year group (not based on age)</p>
    </div>

    <div class="govuk-grid-column-one-third start-categories">
      <a href="/filters-21-01-19/category-ethnicity" class="govuk-body">Ethnicity</a>
      <p class="govuk-!-font-size-16 govuk-!-margin-top-1">Ethnic Group (inc. minor and major categories)</p>
    </div>

    <div class="govuk-grid-column-one-third start-categories">
      <a href="#2" class="govuk-body">Funding</a>
      <p class="govuk-!-font-size-16 govuk-!-margin-top-1">Basis for EY funding, schools block funding</p>
    </div>

    <div class="govuk-grid-column-one-third start-categories">
      <a href="#2" class="govuk-body">Gender</a>
      <p class="govuk-!-font-size-16 govuk-!-margin-top-1">Pupil gender</p>
    </div>

    <div class="govuk-grid-column-one-third start-categories">
      <a href="#2" class="govuk-body">Location</a>
      <p class="govuk-!-font-size-16 govuk-!-margin-top-1">Pupil and town postcode, pupil locality, local authority and establishment, administrative area.</p>
    </div>

    <div class="govuk-grid-column-one-third start-categories">
      <a href="#2" class="govuk-body">Mobility</a>
      <p class="govuk-!-font-size-16 govuk-!-margin-top-1">Mobility indicator, distance to nearest/current school, nearest school in the local authority area</p>
    </div>

    <div class="govuk-grid-column-one-third start-categories">
      <a href="#2" class="govuk-body">Special educational needs (SEN)</a>
      <p class="govuk-!-font-size-16 govuk-!-margin-top-1">Details of SEN, SEN type, SEN provision (inc. major and SEN unit indicator), Statement and EHC plans (yes/no)</p>
    </div>

    <div class="govuk-grid-column-one-third start-categories">
      <a href="/filters-21-01-19/category" class="govuk-body">Socio-economic status (SES)</a>
      <p class="govuk-!-font-size-16 govuk-!-margin-top-1">Free school meals (current and previous eligibility), Income deprivation affecting children indices (inc. rank and score)</p>
    </div>

  </div>
  <hr class="govuk-section-break govuk-section-break--xl  govuk-section-break--visible govuk-grid-column-full">
  <div class="govuk-grid-row">
    <h3 class="govuk-grid-column-full govuk-heading-m">Published studies</h3>

    <div class="govuk-grid-column-one-third">
      <a href="#2" class="govuk-body">Grammar schools: four key research points</a>
      <p class="govuk-!-font-size-16 govuk-!-margin-top-1">Children who attend grammar schools make more progress than they otherwise would, while children who attend non-selective schools in selective areas…</p>
      <a href="#2" class="govuk-body govuk-!-font-size-16">read more</a>
    </div>

    <div class="govuk-grid-column-one-third">
      <a href="#2" class="govuk-body">Are more pupils really taking arts subjects?</a>
      <p class="govuk-!-font-size-16 govuk-!-margin-top-1">Schools Week last week published a handy summary of Ofqual’s release of summer 2017 examination entry statistics. It notes that entries in EBacc subjects have risen…</p>
      <a href="#2" class="govuk-body govuk-!-font-size-16">read more</a>
    </div>

    <div class="govuk-grid-column-one-third">
      <a href="#2" class="govuk-body">Long-term disadvantage, part six: Measuring disadvantage in the north</a>
      <p class="govuk-!-font-size-16 govuk-!-margin-top-1">This is part six in a series of blogposts exploring long-term disadvantage. Other posts in the series can be found here. In previous blogposts in this series…</p>
      <a href="#2" class="govuk-body govuk-!-font-size-16">read more</a>
    </div>
  </div>




<!-- <script type="text/javascript">
      var searchterms = [
        'Afghanistan'
      ]
</script>

<script type="text/javascript">
  var element = document.querySelector('#tt-default')
  var id = 'autocomplete-default'
  accessibleAutocomplete({
    element: element,
    id: id,
    source: searchterms
  })
</script> -->


{% endblock %}
