<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/node_modules/govuk-frontend/all.js"></script>
<script src="/public/javascripts/application.js"></script>

<script src="/public/javascripts/step-by-step-navigation.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.StepByStepNavigation()
    stepByStepNavigation.start($element)
  </script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
