{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% set serviceName %}
  Research Project Application
{% endset%}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link" href="/ons/team2">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/ons/who" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <span class="govuk-caption-xl">Step 3 of XX</span>
              <h1 class="govuk-fieldset__heading">
                Research team members
              </h1>
              <span class="govuk-hint">Please tell us about the rest of the team that will be using the data</span>
            </legend>
            <br />
            <h2 class="govuk-heading-m">Research team member</h2>
            <div class="govuk-form-group">
              <label class="govuk-label" for="first-name3">
                First name
              </label>
              <input class="govuk-input govuk-input--width-20" id="first-name3" name="first-name3" type="text" value="{{ data['first-name3'] }}">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="last-name3">
                Last name
              </label>
              <input class="govuk-input govuk-input--width-20" id="last-name3" name="last-name3" type="text" value="{{ data['last-name3'] }}">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="email3">
                Email address
              </label>
              <input class="govuk-input govuk-input--width-20" id="email3" name="email3" type="text" value="{{ data['email3'] }}">
            </div>
            <div class="govuk-form-group">
              <p>Are they an accredited researcher?</p>
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="changed-name-1">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    No
                  </label>
                </div>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button">Continue</button> <span class="govuk-body govuk-!-margin-left-1" style="transform: translateY(8px); display: inline-block"> or <a href="/ons/team4">Add another team member</a></span>

        <div>
            <a href="#">Cancel application</a>
        </div>

      </form>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Your team
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><strong>Team lead</strong></li>
            <li>{{ data['first-name'] }} {{ data['last-name'] }} <span style="float: right"><a href="">Delete</a></span></li>
          </ul>

          <ul class="govuk-list govuk-!-font-size-16">
            <li><strong>Team members</strong></li>
            <li>{{ data['first-name2'] }} {{ data['last-name2'] }} <span style="float: right"><a href="">Delete</a></span></li>
          </ul>
        </nav>
      </aside>

    </div>

  </div>

{% endblock %}
