// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.checked {
  opacity: 0.4;
  pointer-events: none;
}

.govuk-tag-low {
  border: 3px solid #85994B;
  background-color: white;
  color: #0B0C0C;
}

.govuk-tag-moderate {
  border: 3px solid #FFBF47;
  background-color: white;
  color: #0B0C0C;
  color: #0B0C0C;
}

.govuk-tag-mixed {
  border: 3px solid #F47738;
  background-color: white;
  color: #0B0C0C;
}

.govuk-tag-significant {
  border: 3px solid #DF3034;
  background-color: white;
  color: #0B0C0C;
}

.govuk-tag-high {
  border: 3px solid #B10E1E;
  background-color: white;
  color: #0B0C0C;
}
