{% extends "layout.html" %}

{% block pageTitle %}
  NPD search and filter
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/filters-05-02-19/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/filters-05-02-19/category">Socio economic status (SES)</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/filters-05-02-19/concept-list-idaci">Income deprivation affecting children indices (IDACI)</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">IDACI rank</li>
  </ol>
</div>
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        IDACI_Rank
      </h1>

      <p>Income deprivation affecting children indices (IDACI) rank derived from the pupil's postcode.</p>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-grid-column-full">
        <form action="/filters/search" method="post" novalidate>
        <div class="govuk-form-group">
          <label class="govuk-label" for="search">
            Search
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="search" name="search" type="text" value=""><button type="submit" class="govuk-button govuk-button-search">Search</button>
        </div>
      </form>
      </div>
    </div>

  </div>

  <div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Educational phases
      </h2>

      <p><abbr title="Key stage 1">KS1</abbr>, <abbr title="Key stage 2">KS2</abbr>, <abbr title="Key stage 3">KS3</abbr>, <abbr>KS4</abbr>, <abbr>KS5</abbr></p>

      <h2 class="govuk-heading-m govuk-!-margin-top-6">
        Collection points
      </h2>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            All years census (School census)
          </span>
        </summary>
        <div class="govuk-details__text">
          School Census data. This has information on pupils attending maintained schools. From Spring 2013/14, this includes local authority (LA) maintained PRUs and alternative provision (AP) academies, including AP Free Schools.
        </div>
      </details>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Collected from
      </h2>

      <p>2001 - present</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-6">
        Data type
      </h2>

      <p>Categorical (dichotomous)</p>
    </div>

  </div>


  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-full">
      <table class="govuk-table govuk-!-font-size-16">
  <caption class="govuk-table__caption govuk-!-font-size-24">Data elements</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Name</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Old name</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Date collected</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Sensitivity</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Identifiability</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Tier</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Notes</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">IDACI_R</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">rank_[yy]</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">2001/02 - present</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">E</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">IDACI_R</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">rank_[yy]</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">2009/10 - 2012/13</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">E</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">IDACI_Rank</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">2008/2009</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">E</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#0">Read notes</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">IDACI_R_Home</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">2016/17 - present</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">E</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">IDACI_R_School</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">2016/17 - present</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">E</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">IDACI_R_10</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">2005/06 - 2015/16</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">E</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">IDACI_R_15</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">2014/15 - present</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">E</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
    </tr>
  </tbody>
</table>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-full how-to-access govuk-!-padding-top-4">
      <h2 class="govuk-heading-s">Accessing this data</h2>

      <p>To view this data you will need to <a href="https://www.gov.uk/guidance/how-to-access-department-for-education-dfe-data-extracts">apply for access via the DfE</a>.</p>
      <p>If you are currently in the process of applying then you can copy and paste the Data titles into the application form.</p>
    </div>
  </div>



</main>



{% endblock %}
