{% extends "layout.html" %}

{% block pageTitle %}
  National Pupil Database - Application
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/new-form-v2-v2/step-2" method="post">

        <div class="govuk-form-group">

          <h1 class="govuk-heading-l">
            Apply for National Pupil Database data
            <span id="waste-hint" class="govuk-hint">
              This service provides access to individual level data owned by DfE to undertake a research project within the ONS Secure Research Service.
            </span>
          </h1>

          <p>We will ask for information on the following;</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>You and your organisation</li>
            <li>The researchers you'll be working with</li>
            <li>The type of research project you need the data for</li>
            <li>The data you require</li>
            <li>How you will process the data</li>
            <li>How long you'll need the data for</li>
          </ul>

          <h3 class="govuk-heading-m">Before you start</h3>

          <p>You'll need the following before you'll be allowed access to the data</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>A current <a href="">basic DBS check</a></li>
            <li>An <a href="">ONS accredited researcher</a> account</li>
            <li>To have applied for access to the <a href="">ONS Secure Research Service</a></li>
          </ul>


          <br>
          <br>


        </div>



        <a href="/new-form-v2/step-1" role="button" draggable="false" class="govuk-button govuk-button--start">
          Start now
        </a>

      </form>

    </div>
  </div>

{% endblock %}
