.card {
  display: block;
  float: left;
  margin-bottom: 10px;
}

.card__body {
  display: block;
  background-color: govuk-colour("light-grey", $legacy: "grey-3");
  padding: 1em;
  text-decoration: none;

  span {
    display: block;
  }
}

a.card__body {
  color: $govuk-link-colour;

  &:hover, &:focus {
    cursor: pointer;
    text-decoration: none;
  }
}

.card__footer {
  display: block;
  background-color: govuk-colour("light-grey", $legacy: "grey-4");
  padding: 1em;
}
.govuk-checkboxes-small {

  .govuk-checkboxes__item {
      min-height: 40px;
      margin-bottom: 0px;
      padding: 0 0 0 20px;
  }

  .govuk-checkboxes__label {
      padding: 0px 15px 5px;
  }

  .govuk-checkboxes__input {
      width: 20px;
      height: 20px;
  }

  .govuk-checkboxes__input + .govuk-checkboxes__label::before {
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
  }

  .govuk-checkboxes__input + .govuk-checkboxes__label::after {
      top: 5px;
      left: 4px;
      width: 9px;
      height: 4px;
      border-width: 0 0 3px 3px;
  }
}

// Cards - Adapted from Home Office
.card {
  display: block;
  float: left;
  margin-bottom: 10px;
}

.card__body {
  display: block;
  background-color: govuk-colour("light-grey", $legacy: "grey-3");
  padding: 1em;
  text-decoration: underline;

  span {
    display: block;
  }
}

a.card__body {
  color: $govuk-link-colour;

  &:hover, &:focus {
    cursor: pointer;
    text-decoration: none;
  }
}

.card__footer {
  display: block;
  background-color: govuk-colour("light-grey", $legacy: "grey-4");
  padding: 1em;
}

.how-to-access {
  background-color: govuk-colour("blue");

  p, a, h2 {
    color: white;
  }
}
