.categories {
  position: sticky;
  top: 0;
}

.start-categories {
  min-height: 11em;

  a {
    font-weight: bold;
  }
}

@include govuk-media-query($until: tablet) {
  .start-categories {
    min-height: 7em;
  }
}
