.variable-description {
  background: #f8f8f8;
  padding: 1em 0.5em;
  margin-top: -10px;
  margin-bottom: -10px !important;
}

.govuk-table__header {
  height: 30px;
  vertical-align: middle;
}

td.govuk-table__cell {
  vertical-align: middle;
}

.govuk-checkboxes--small .govuk-checkboxes__item {
  margin-top: -20px;
}

.govuk-checkboxes--small .govuk-checkboxes__label {
  padding: 0;
}

table th:first-child {
  word-break: break-all;
  max-width: 400px;
}

.govuk-table__header--numeric {
  white-space: nowrap;
}

.govuk-table__cell--numeric {
  word-break: break-word;
}

.govuk-table__header {
  white-space: nowrap;
}

table thead th {
  position: sticky;
  top: 55px;
  background: #FFF;
  border-bottom: 2px solid $govuk-border-colour;
  z-index: 51;
}

table.timetable thead th  {
  position: relative;
}


th:nth-child(n+6),
td:nth-child(n+6) {
  display: none;
}

.list2 {

  th:nth-child(n+5),
  td:nth-child(n+5) {
    display: none;
  }

  select {
    width: 90px;
  }
}



@include govuk-media-query($until: desktop) {
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
  }

  table th:first-child {
    max-width: 100%;
  }

  table td,
  table th {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
  }

  table a {
    display: block;
    text-align: right;
  }

  table td::before,
  table th::before {
    content: attr(data-label);
    float: left;
  }

  .variable-description {
    text-align: left;
    margin: 0;
    border-bottom: none;
    margin-bottom: 2em !important;
  }
}
