{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link" href="/funnel/dependant-variables">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/funnel/dates" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <span class="govuk-caption-xl">Step 4 of 7</span>
              <h1 class="govuk-fieldset__heading">
                Choose your co-variates
              </h1>
            </legend>
            <span id="waste-hint" class="govuk-hint">
              Please select all of the options that are suitable.
            </span>
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-1" name="variables3" type="checkbox" value="Age" {{ checked("variables3", "Age") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-1">
                  Age
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-2" name="variables3" type="checkbox" value="Ethinicity" {{ checked("variables3", "Ethinicity") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-2">
                  Ethinicity
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-3" name="variables3" type="checkbox" value="Free School Meals" {{ checked("variables3", "Free School Meals") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-3">
                  Free School Meals
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-4" name="variables3" type="checkbox" value="IDAC" {{ checked("variables3", "IDAC") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-4">
                  Income Deprivation Affecting Children (IDAC)
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-5" name="variables3" type="checkbox" value="Absence & Exclusion" {{ checked("variables3", "Absence & Exclusion") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-5">
                  Absence & Exclusion
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-6" name="variables3" type="checkbox" value="Regional" {{ checked("variables3", "Regional") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-6">
                  Regional
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-7" name="variables3" type="checkbox" value="Distance to School" {{ checked("variables3", "Distance to School") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-7">
                  Distance to School
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-8" name="variables3" type="checkbox" value="Registration" {{ checked("variables3", "Registration") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-8">
                  Registration (duration)
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-9" name="variables3" type="checkbox" value="Risk" {{ checked("variables3", "Risk") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-9">
                  Risk (Children in Need)
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-10" name="variables3" type="checkbox" value="Special Educational Needs & Disability" {{ checked("variables3", "Special Educational Needs & Disability") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-10">
                  Special Educational Needs & Disability
                </label>
              </div>
            </div>
          </fieldset>
        </div>



        <button class="govuk-button">Continue</button>

        <div>
            <a href="#">Cancel application</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
