{% extends "layout.html" %}

{% block pageTitle %}
  NPD Data Categories
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link" href="/funnel/step-2">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/funnel/step-4" method="post">
        <div class="govuk-form-group">
          <h1 class="govuk-heading-xl">
            NPD Data Categories
            <span id="waste-hint" class="govuk-hint">
              Find out more about the types of data within the National Pupil Database
            </span>
          </h1>
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h2 class="govuk-heading-m ">
                Choose which categories you need
              </h2>
            </legend>

            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-10" name="variables3" type="checkbox" value="Attainment and exam information" {{ checked("variables3", "Attainment and exam information") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-10">
                  Attainment and exam information
                  <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-14">
                    Results from testing in early years, key stage and phonics
                  </span>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input " id="variable-1" name="variables3" type="checkbox" value="Age" {{ checked("variables3", "Age") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-1">
                  Age
                  <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-14">Pupil ages (in years and months) at the start of the academic year</span>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-2" name="variables3" type="checkbox" value="Absence Exclusion" {{ checked("variables3", "Absence Exclusion") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-2">
                  Absence & Exclusion
                  <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-14">
                    Authorised and unauthorised absences by absence type, overall by academic year and broken down annually and by term, as well as records of persistent absentees. 2005 -2017<br>Summary and exclusion-level data per-pupil, including permanent exclusion records
                  </span>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-4" name="variables3" type="checkbox" value="Ethnicity" {{ checked("variables3", "Ethnicity") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-4">
                  Ethnicity
                  <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-14">
                    Pupils ethnic code as well as major and minor codes based on extended ethnicity code
                  </span>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-6" name="variables3" type="checkbox" value="Location and mobility data" {{ checked("variables3", "Location and mobility data") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-6">
                  Location and mobility data
                  <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-14">
                    Includes information about school location, and mobility measures (e.g., distance to nearest school)
                  </span>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-8" name="variables3" type="checkbox" value="CIN" {{ checked("variables3", "CIN") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-8">
                  Looked after children, and children in need
                  <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-14">
                    A complete dataset of all held data on children who are looked after (e.g., in care) and children in need
                  </span>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input " id="variable-1" name="variables3" type="checkbox" value="Personal" {{ checked("variables3", "Personal") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-1">
                  Personally identifying data
                </label>
                <details class="govuk-details govuk-!-padding-left-3 govuk-!-margin-top-2 govuk-!-margin-bottom-2 govuk-!-font-size-14">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      More details
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <p>Personally identifying data (extremely sensitive data for which extra governance is required and for which, if successful with the application, <strong>lead times for accessing the data are longer, typically 16 weeks or more</strong>)</p>

                    <p>Contains:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>Name of pupil</li>
                      <li>Unique pupil number</li>
                      <li>Address of pupil</li>
                    </ul>
                  </div>
                </details>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-7" name="variables3" type="checkbox" value="School registration" {{ checked("variables3", "School registration") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-7">
                  School registration
                  <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-14">
                    Data relating to school registration including start date, leaving date, and part time pupils
                  </span>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-5" name="variables3" type="checkbox" value="Socioeconomic status" {{ checked("variables3", "Socioeconomic status") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-5">
                  Socio-economic status
                  <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-14">
                    Income Deprivation Affecting Children Index (IDACI) rank and scores derived from the pupil's postcode, and Free School Meal (FSM) eligibility and prior eligibility
                  </span>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-11" name="variables3" type="checkbox" value="Special category pupils" {{ checked("variables3", "Special category pupils") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-9">
                  Special category pupils
                  <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-14">
                    Pupils who fall under the category of refugee, disabled or service child, i.e., parent(s) in armed forces
                  </span>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-9" name="variables3" type="checkbox" value="Special educational needs (SEN)" {{ checked("variables3", "Special educational needs (SEN)") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-9">
                  Special educational needs (SEN)
                  <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-14">
                    Pupil-level data on special educational needs including type, provision, and related school funding
                  </span>
                </label>
              </div>

            </div>
          </fieldset>
        </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Your choices
        </h2>
        <div class="">
          <p class="govuk-!-font-size-16 govuk-grid-column-two-thirds govuk-!-padding-left-0"><strong>Education stage</strong></p>
          <a href="/funnel/step-2" class="govuk-!-font-size-16 govuk-grid-column-one-third">
            Change <span class="govuk-visually-hidden">options</span>
          </a>
          <ul class="govuk-list govuk-!-padding-left-0 govuk-grid-column-full govuk-!-font-size-16">
            {% for feature in data['variables2'] %}
              <li>{{ feature }}</li>
            {% else %}
              <li>Nothing selected</li>
            {% endfor %}
          </ul>

          <hr class="govuk-section-break govuk-section-break--s govuk-!-margin-bottom-5 govuk-section-break--visible govuk-grid-column-full">

          <p class="govuk-!-font-size-16 govuk-grid-column-two-thirds govuk-!-padding-left-0"><strong>Categories</strong></p>
          <a href="/funnel/step-3" class="govuk-!-font-size-16 govuk-grid-column-one-third">
            Change <span class="govuk-visually-hidden">options</span>
          </a>
          <ul class="govuk-list govuk-!-padding-left-0 govuk-grid-column-full govuk-!-font-size-16">
            {% for item in data['variables3'] %}
              <li>{{ item }}</li>
            {% else %}
              <li>Nothing selected</li>
            {% endfor %}
          </ul>

          <hr class="govuk-section-break govuk-section-break--s govuk-!-margin-bottom-5 govuk-section-break--visible govuk-grid-column-full">

          <p class="govuk-!-font-size-16 govuk-grid-column-two-thirds govuk-!-padding-left-0"><strong>Years</strong></p>
          <a href="/funnel/step-4" class="govuk-!-font-size-16 govuk-grid-column-one-third">
            Change <span class="govuk-visually-hidden">options</span>
          </a>
          <ul class="govuk-list govuk-!-padding-left-0 govuk-grid-column-full govuk-!-font-size-16">
            {% for item in data['dates'] %}
              <li>{{ item }}</li>
            {% else %}
              <li>Nothing selected</li>
            {% endfor %}
          </ul>
        </div>
      </aside>
    </div>
  </div>

{% endblock %}
