{% extends "layout.html" %}

{% block pageTitle %}
  NPD Data Explorer
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link" href="/funnel/step-1">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/funnel/step-3" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <span class="govuk-caption-xl">Step 2 of 6</span>
              <h1 class="govuk-fieldset__heading">
                Which stages of education will you need?
              </h1>
            </legend>

            <p>The United Kingdom's education system is split across years into Key Stages. Please choose which of these your research will be looking at.</p>

            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-7" name="variables2" type="checkbox" value="School Census" {{ checked("variables2", "School Census") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-1">
                  School Census
                  <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-14">Includes all pupils at all year groups in mainstream schools</span>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-1" name="variables2" type="checkbox" value="Early Years Foundation" {{ checked("variables2", "Early Years Foundation") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-1">
                  Early Years Foundation (EYFS)
                  <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-14">2 to 4 year olds in preschool settings</span>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-2" name="variables2" type="checkbox" value="Key Stage 1" {{ checked("variables2", "Key Stage 1") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-2">
                  Key Stage 1
                  <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-14">for children from 5 to 7 years, covering school years 1 and 2</span>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-3" name="variables2" type="checkbox" value="Key Stage 2" {{ checked("variables2", "Key Stage 2") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-3">
                  Key Stage 2
                  <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-14">for children from 7 to 11 years, covering school years 3, 4, 5 and 6</span>
                  <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-14">(includes KS1 prior attainment)</span>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-4" name="variables2" type="checkbox" value="Key Stage 3" {{ checked("variables2", "Key Stage 3") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-4">
                  Key Stage 3
                  <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-14">for children from 11 to 14 years, covering school years 7, 8 and 9</span>
                  <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-14">(includes KS2 prior attainment)</span>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-5" name="variables2" type="checkbox" value="Key Stage 4" {{ checked("variables2", "Key Stage 4") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-5">
                  Key Stage 4
                  <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-14">for children from 14 to 16 years, covering school years 10 and 11</span>
                  <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-14">(includes KS2 prior attainment)</span>
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="variable-6" name="variables2" type="checkbox" value="Key Stage 5" {{ checked("variables2", "Key Stage 5") }}>
                <label class="govuk-label govuk-checkboxes__label" for="variable-6">
                  Key Stage 5
                  <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-14">for pupils from 16 to 18 years, covering colleges and sixth form</span>
                  <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-14">(includes KS4 prior attainment)</span>
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
