{% extends "layout.html" %}

{% block pageTitle %}
  National Pupil Database - Application
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/new-form/step-4" method="post">

        <div class="govuk-form-group">

          <div class="govuk-box-highlight confirm-page">
            <span class="hod-checkmark"></span>
            <h2 class="govuk-heading-l">Email verified</h2>
            <p class="govuk-!-margin-bottom-0">You can now continue with your application.</p>
          </div>

          <p>Your unique reference number can be used at any time to return to your application.</a>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <div class="govuk-form-group">
            <label class="govuk-label" for="ref-number">
              Previous application reference
            </label>
            <input class="govuk-input govuk-input--width-20" id="ref-number" name="ref-number" type="text" aria-describedby="ref-number-hint" value="DR76547"><button class="govuk-button">Continue</button>
          </div>

        </div>



      </form>

    </div>
  </div>

{% endblock %}
