{% extends "layout.html" %}

{% block pageTitle %}
  National Pupil Database - Application
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="" method="post">

        <div class="govuk-form-group">

          <div class="govuk-box-highlight confirm-page">
            <span class="hod-checkmark"></span>
            <h2 class="govuk-heading-l">Email verified</h2>
            <p class="govuk-!-margin-bottom-0">You can now continue with your application.</p>
          </div>

          <p>Your unique reference number can be used at any time to return to your application.</a>

        </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
