{% extends "layout.html" %}

{% block pageTitle %}
  National Pupil Database - Application
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/new-form/step-5" method="post">

        <div class="govuk-form-group">
          <span class="govuk-caption-xl">Step 1 of 17</span>
          <h2 class="govuk-heading-l">You and your organisation</h2>

          <p>Please continue with your application. Your progress will save automatically.</p>

          <div class="govuk-form-group">
            <label class="govuk-label" for="applicant-telephone">
              Your telephone number
            </label>
            <input class="govuk-input govuk-input--width-20" id="applicant-telephone" name="applicant-telephone" type="tel" aria-describedby="applicant-telephone-hint" value="{{ data['applicant-telephone'] }}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="organisation">
              Name of your oganisation
            </label>
            <input class="govuk-input govuk-input--width-20" id="organisation" name="organisation" type="text" aria-describedby="organisation-hint" value="{{ data['organisation'] }}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="student">
              Are you a student wanting access to the data?
            </label>

            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="student-data-conditional-1" name="student-data" type="radio" value="yes" data-aria-controls="conditional-student-data-conditional-1" {{ checked("student-data", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="student-data-conditional-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-student-data-conditional-1">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="supervisor-name">
                    Your supervisors name
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="supervisor-name" name="supervisor-name" type="text" value="{{ data['supervisor-name'] }}">
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="supervisor-email">
                    Your supervisors email address
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="supervisor-email" name="supervisor-email" type="email" aria-describedby="supervisor-email-hint" value="{{ data['supervisor-email'] }}">
                </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="student-data-conditional-2" name="student-data" type="radio" value="no" data-aria-controls="conditional-student-data-conditional-2" {{ checked("student-data", "no") }}>
                <label class="govuk-label govuk-radios__label" for="student-conditional-2">
                  No
                </label>
              </div>
            </div>
          </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="student">
                Are you a student funded by private income or a grant (i.e. where you are not an employee)?
              </label>

              <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="student-conditional-1" name="student" type="radio" value="yes" data-aria-controls="conditional-student-conditional-1" {{ checked("student", "yes") }}>
                  <label class="govuk-label govuk-radios__label" for="student-conditional-1">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-student-conditional-1">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="other-role">
                      Type of organisation you work for
                    </label>
                    <input class="govuk-input govuk-input--width-20" id="other-role" name="organisation-type" type="text" value="{{ data['organisation-type'] }}">
                  </div>

                  <div class="govuk-form-group">
                    <label class="govuk-label" for="organisation-url">
                      Website address of organisation
                    </label>
                    <span id="organisation-url-hint" class="govuk-hint">
                      Please start with https://
                    </span>
                    <input class="govuk-input govuk-input--width-20" id="organisation-url" name="organisation-url" type="text" aria-describedby="organisation-url-hint" value="{{ data['organisation-url'] }}">
                  </div>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="student-conditional-2" name="student" type="radio" value="no" data-aria-controls="conditional-student-conditional-2" {{ checked("student", "no") }}>
                  <label class="govuk-label govuk-radios__label" for="student-conditional-2">
                    No
                  </label>
                </div>
              </div>
          </div>

          <h3 class="govuk-heading-m">
        </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-box-highlight incomplete">
        <h2 class="govuk-heading-s">Apply for National Pupil Database data</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <p class="govuk-!-margin-bottom-1"><strong>Applicant name:</strong>
            <p class="govuk-!-margin-bottom-3">{{ data['applicant-name'] }}</p>
          </div>

          <div class="govuk-grid-column-full">
            <p class="govuk-!-margin-bottom-1"><strong>Reference number:</strong>
            <p class="govuk-!-margin-bottom-3"><strong class="govuk-tag">76547</strong></p>
          </div>

          <div class="govuk-grid-column-full">
            <p class="govuk-!-margin-bottom-1"><strong>Email address:</strong>
            <p class="govuk-!-margin-bottom-1">{{ data['applicant-email'] }}</p>
          </div>
        </div>
      </div>

      <div class="panel panel-border-wide alert-default govuk-!-padding-3">
        <h2 class="govuk-heading-m">Need help?</h2>
        <p class="govuk-!-margin-bottom-0 govuk-!-font-size-16">If you've got any questions you can contact us at <a href="#0">data.sharing@education.gov.uk</a></p>
      </div>
    </div>
  </div>

{% endblock %}
