{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link" href="/funnel/high/step-5">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Step 6 of 6</span>
      <h1 class="govuk-heading-l">
        Your results
      </h1>

      <form class="form" action="/new-form/step-1" method="post">
        <h2 class="govuk-heading-m">
          The following data batches from the National Pupil Database should be suitable for your research.
        </h2>

        <p>The batches of data below contain the information that you requested. You can explore an example of the data to get a better understanding of the structure and how you might use it in your research.</p>

        <div class="govuk-!-padding-top-9 govuk-!-padding-bottom-9">
          <h3 class="govuk-heading-s">
            NPD Batch 1 - <strong class="govuk-tag govuk-tag-low">Low Risk</strong>
          </h3>
          <span class="govuk-body"><strong>Categories chosen:</strong> Attainment and exam information, Age, Location and mobility.</span>
          <span class="govuk-hint">Data from School Census, EYFSP, KS2, KS4, KS5, PLAMS, NCCIS</span>
          <a class="govuk-!-padding-bottom-5" href="https://docs.google.com/spreadsheets/d/1NrtZLQ_8eUm3qyuqz-f2RdXYdjNxjADT5BpzJDhvprk/edit?usp=sharing" target="_blank">Download this data example</a><br>
          <a class="govuk-!-padding-bottom-2" href="https://docs.google.com/spreadsheets/d/18J95ZwVX-FiNPRTv5aC8y6lTtq9wzNjAAV1tdW3lFKs/edit?usp=sharing" target="_blank">Download the NPD data tables</a>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h3 class="govuk-heading-s">
            NPD Batch 2 - <strong class="govuk-tag govuk-tag-moderate">Moderate Risk</strong>
          </h3>
          <span class="govuk-body"><strong>Categories chosen:</strong> Ethnicity, Socio-economic status, Special educational needs.</span>
          <span class="govuk-hint">Data from School Census, EYFSP, KS2, KS4, KS5, PLAMS, NCCIS</span>
          <a class="govuk-!-padding-bottom-5" href="https://docs.google.com/spreadsheets/d/1NrtZLQ_8eUm3qyuqz-f2RdXYdjNxjADT5BpzJDhvprk/edit?usp=sharing" target="_blank">Download this data example</a><br>
          <a class="govuk-!-padding-bottom-2" href="https://docs.google.com/spreadsheets/d/18J95ZwVX-FiNPRTv5aC8y6lTtq9wzNjAAV1tdW3lFKs/edit?usp=sharing" target="_blank">Download the NPD data tables</a>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h3 class="govuk-heading-s">
            NPD Batch 5 - <strong class="govuk-tag govuk-tag-high">High Risk</strong>
          </h3>
          <span class="govuk-body"><strong>Categories chosen:</strong> Looked after children, children in need.</span>
          <span class="govuk-hint">Data from School Census, Alternative Provision, EYSFP, KS2 - KS5</span>
          <a class="govuk-!-padding-bottom-5" href="https://docs.google.com/spreadsheets/d/1NrtZLQ_8eUm3qyuqz-f2RdXYdjNxjADT5BpzJDhvprk/edit?usp=sharing" target="_blank">Download this data example</a><br>
          <a class="govuk-!-padding-bottom-2" href="https://docs.google.com/spreadsheets/d/18J95ZwVX-FiNPRTv5aC8y6lTtq9wzNjAAV1tdW3lFKs/edit?usp=sharing" target="_blank">Download the NPD data tables</a>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h3 class="govuk-heading-m">What next?</h3>
          <p>If you are confident that the data shown above is suitable for your research project then you can make an application to gain access to the data</p>

        </div>

        <button class="govuk-button">Start application</button>

      </form>

    </div>

  </div>

{% endblock %}
