{% extends "layout.html" %}

{% block pageTitle %}
  National Pupil Database - Application
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/new-form/step-2" method="post">

        <div class="govuk-form-group">

          <h1 class="govuk-heading-xl">
            Find and explore data in the National Pupil Database
          </h1>

          <p>Search 22 million records stored in the national pupil database.</p>

          <p>You can:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>search for data from 1995 to today</li>
            <li>provide feedback on data descriptions</li>
            <li>find out what data will be added in the future</li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--xl  govuk-section-break--visible govuk-grid-column-full">

          <h2 class="govuk-heading-m">More information</h2>

          <p>Accredited researchers and third-party researchers can apply for access to data.</p>

          <p>Data can be accessed through the Office for National Statistics’ <a href="">Secure Research Service</a>.</p>

          <h2 class="govuk-heading-m">Other ways to explore the data</h2>

          <p>Download the <a href="">2018 version of the data table</a>.</p>

          <p>Contact us for help at <a href="">data.sharing@education.gov.uk</a></p>
          <p>Emails are monitored Monday to Friday, 9am to 5pm</p>

          <br>


        </div>



        <a href="/filters/home" role="button" draggable="false" class="govuk-button govuk-button--start">
          Start now
        </a>

      </form>

      <!-- <div class="govuk-tabs govuk-!-margin-top-6" data-module="tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>

        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#past-day">
              More information
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-week">
              Other ways to explore the data
            </a>
          </li>
        </ul>

        <section class="govuk-tabs__panel" id="past-day">
          <p>Accredited researchers and third-party researchers can apply for access to data.</p>

          <p>Data can be accessed through the Office for National Statistics’ <a href="">Secure Research Service</a>.</p>


        </section>
        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
          <p>Download the <a href="">2018 version of the data table</a>.</p>

          <p>Contact us for help at <a href="">data.sharing@education.gov.uk</a></p>
          <p>Emails are monitored Monday to Friday, 9am to 5pm</p>



        </section>
      </div> -->

    </div>

    <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="#">
                  An introduction to the National Pupil Database
                </a>
              </li>
              <li>
                <a class="govuk-link" href="#">
                  Apply for National Pupil Database data
                </a>
              </li>
              <li>
                <a href="#" class="govuk-link">
                  Become an ONS accredited researcher
                </a>
              </li>
              <li>
                <a href="#" class="govuk-link">
                  Register to become an approved research centre
                </a>
              </li>
            </ul>
          </nav>
        </aside>

      </div>
  </div>

{% endblock %}
