{% extends "layout.html" %}

{% block pageTitle %}
  National Pupil Database - Application
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/new-form/step-2" method="post">

        <div class="govuk-form-group">

          <h1 class="govuk-heading-xl">
            Find and explore data in the National Pupil Database
          </h1>

          <p>You can search, find, and explore, data within 2 million datasets which are stored in the National Pupil Database.</p>

          <p>Use this service to;</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>search data dating back to 1995</li>
            <li>explore what’s contained within over 2 million datasets</li>
            <li>provide feedback on data descriptions</li>
            <li>find out what data will be added in the future</li>
          </ul>


          <br>
          <br>


        </div>



        <a href="/filters/start" role="button" draggable="false" class="govuk-button govuk-button--start">
          Start now
        </a>

      </form>

      <div class="govuk-tabs govuk-!-margin-top-6" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#past-day">
        More information
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Other ways to explore the data
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="past-day">
    <p>The National Pupil Database contains data which can be applied for by accredited researchers and third-party organisations. Data is accessed via the Office for National Statistics’ <a href="">Secure Research Service</a>.</p>


  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <p>You can download the <a href="">2018 version of the data table</a>.</p>

    <p>If assistance is needed, you can contact the NPD team via email on <a href="">data.sharing@education.gov.uk</a></p>
    <p>Emails are monitored Monday to Friday, 9am to 5pm</p>



  </section>
</div>

    </div>
  </div>

{% endblock %}
