{% extends "layout.html" %}

{% block pageTitle %}
  NPD search and filter
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">

  <h1 class="govuk-heading-xl">
    NPD Search & Filter
    <span id="hint" class="govuk-hint">
      Search and filter the variables and datasets inside the NPD.
    </span>
  </h1>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <div class="govuk-form-group">
        <label class="govuk-label" for="name">
          Search
        </label>
        <input class="govuk-input govuk-!-width-one-half" id="name" name="name" type="text"><button type="submit" class="govuk-button govuk-button-search">
  Search
</button>
      </div>
    </div>

    <div class="govuk-grid-column-one-third govuk-filters">
      <h3 class="govuk-heading-s">Data type</h3>

      <div class="govuk-checkboxes govuk-checkboxes-small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="data-type-1" name="data-type" type="checkbox" value="dataset">
          <label class="govuk-label govuk-checkboxes__label" for="data-type-1">
            Dataset
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="data-type-2" name="data-type" type="checkbox" value="variable">
          <label class="govuk-label govuk-checkboxes__label" for="data-type-2">
            Variable
          </label>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h3 class="govuk-heading-s">Data sources</h3>

      <div class="govuk-checkboxes govuk-checkboxes-small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="source-1" name="source" type="checkbox" value="npd">
          <label class="govuk-label govuk-checkboxes__label" for="source-1">
            National Pupil Database
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="source-2" name="source" type="checkbox" value="ilr">
          <label class="govuk-label govuk-checkboxes__label" for="source-2">
            Spring census
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="source-3" name="source" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="source-3">
            Autumn census
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="source-4" name="source" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="source-4">
            Edubase
          </label>
        </div>
        <a href="#0">Show more</a>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h3 class="govuk-heading-s">Organisation</h3>

      <div class="govuk-checkboxes govuk-checkboxes-small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-1" name="organisation" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-1">
            Local authority
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
            School
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
            College
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
            Early years foundation
          </label>
        </div>
        <a href="#0">Show more</a>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h3 class="govuk-heading-s">Individual</h3>

      <div class="govuk-checkboxes govuk-checkboxes-small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="individual-1" name="individual" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="individual-1">
            Student
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="individual-2" name="individual" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="individual-2">
            Pupil
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="individual-3" name="individual" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="individual-3">
            Child
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="individual-4" name="individual" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="individual-4">
            Learner
          </label>
        </div>
        <a href="#0">Show more</a>
      </div>

    </div>

    <div class="govuk-grid-column-two-thirds govuk-results">
      <h1 class="govuk-heading-l govuk-!-display-inline">Your results</h1>

      <div class="govuk-form-group govuk-!-display-inline-block right">
        <label class="govuk-label govuk-!-display-inline govuk-!-padding-right-2" for="sort">
          Sort by
        </label>
        <select class="govuk-select govuk-!-display-inline" id="sort" name="sort">
          <option value="published">Recently added</option>
          <option value="updated">Recently updated</option>
          <option value="az" selected>A - Z</option>
        </select>
      </div>

      <nav role="navigation" aria-label="Pagination">
        <div class="govuk-body govuk-!-font-size-14 pagination__summary govuk-!-margin-bottom-0">Showing 101 &ndash; 150 of 246 results</div>
        <ul class="pagination govuk-!-margin-top-0">
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Previous page"><span aria-hidden="true" role="presentation">&laquo;</span> Previous</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 1">1</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 2">2</a></li>
          <li class="pagination__item"><a class="pagination__link current" href="#0" aria-current="true" aria-label="Page 3, current page">3</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 4">4</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 5">5</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Next page">Next <span aria-hidden="true" role="presentation">&raquo;</span></a></li>
        </ul>
      </nav>

      <div class="card govuk-!-width-full">
        <a href="#0" class="card__body">
          <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-display-inline">AgeAtStartOfAcademicYear</span>
          <span class="right govuk-!-display-inline"><strong class="govuk-tag">Variable</strong></span>
        </a>
        <div class="card__footer govuk-body govuk-!-font-size-14">
          <p class="govuk-!-font-size-14">Age of pupil at start of the academic year.</p>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Appears in:</strong></p>
              <ul class="govuk-list govuk-!-font-size-14">
                <li><a href="#0">Absence</a></li>
              </ul>
            </div>

            <div class="govuk-grid-column-one-half">
              <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Source:</strong></p>
              <ul class="govuk-list govuk-!-font-size-14">
                <li>Spring Census</li>
              </ul>
            </div>

            <div class="govuk-grid-column-full">
              <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Related variables:</strong></p>
              <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                <li><a href="#0">AGE_AUG</a>, <a href="#0">KS5_AGE_START</a>, <a href="#0">KS4_AGE_START</a>, <a href="#0">pl_AgeAtStartOfAcademicYear</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card govuk-!-width-full">
        <a href="#0" class="card__body">
          <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-display-inline">Absence</span>
          <span class="right govuk-!-display-inline"><strong class="govuk-tag">Dataset</strong></span>
        </a>
        <div class="card__footer govuk-body govuk-!-font-size-14">
          <span><strong>Contains:</strong> Authorised and unauthorised absence information.</span><br>
          <span><strong>Data from:</strong> Spring census, Termly census, Autumn census, Edubase</span>
        </div>
      </div>

      <div class="card govuk-!-width-full">
        <a href="#0" class="card__body">
          <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-display-inline">KS4_FSM_CLA</span>
          <span class="right govuk-!-display-inline"><strong class="govuk-tag govuk-tag-high">Physical lab</strong></span>
        </a>
        <div class="card__footer govuk-body govuk-!-font-size-14">
          <p class="govuk-!-font-size-14">The pupil is either eligible for free school meals or has been looked after continuously for 6 months during the year and aged 5 - 15.</p>
          <span><strong>Appears in:</strong> KS4_01-02_17-18</span><br>
          <span><strong>Data from:</strong> KS4, CLA, CIN</span>
        </div>
      </div>

      <div class="card govuk-!-width-full">
        <a href="#0" class="card__body">
          <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-display-inline">KS4_01-02_17-18 Dataset</span>
          <span class="right govuk-!-display-inline"><strong class="govuk-tag govuk-tag-low">Open data</strong></span>
        </a>
        <div class="card__footer govuk-body govuk-!-font-size-14">
          <span><strong>Contains:</strong> Attainment and exam information.</span><br>
          <span><strong>Data from:</strong> KS4, PLAMS, NCCIS</span>
        </div>
      </div>

      <div class="card govuk-!-width-full">
        <a href="#0" class="card__body">
          <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-display-inline">KS4_FSM_CLA</span>
          <span class="right govuk-!-display-inline"><strong class="govuk-tag govuk-tag-high">Physical lab</strong></span>
        </a>
        <div class="card__footer govuk-body govuk-!-font-size-14">
          <p class="govuk-!-font-size-14">The pupil is either eligible for free school meals or has been looked after continuously for 6 months during the year and aged 5 - 15.</p>
          <span><strong>Appears in:</strong> KS4_01-02_17-18</span><br>
          <span><strong>Data from:</strong> KS4, CLA, CIN</span>
        </div>
      </div>

      <div class="card govuk-!-width-full">
        <a href="#0" class="card__body">
          <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-display-inline">KS4_01-02_17-18 Dataset</span>
          <span class="right govuk-!-display-inline"><strong class="govuk-tag govuk-tag-low">Open data</strong></span>
        </a>
        <div class="card__footer govuk-body govuk-!-font-size-14">
          <span><strong>Contains:</strong> Attainment and exam information.</span><br>
          <span><strong>Data from:</strong> KS4, PLAMS, NCCIS</span>
        </div>
      </div>

      <nav role="navigation" aria-label="Pagination">
        <div class="govuk-body govuk-!-font-size-14 pagination__summary">Showing 101 &ndash; 150 of 246 results</div>
        <ul class="pagination">
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Previous page"><span aria-hidden="true" role="presentation">&laquo;</span> Previous</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 1">1</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 2">2</a></li>
          <li class="pagination__item"><a class="pagination__link current" href="#0" aria-current="true" aria-label="Page 3, current page">3</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 4">4</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 5">5</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Next page">Next <span aria-hidden="true" role="presentation">&raquo;</span></a></li>
        </ul>
      </nav>
    </div>


  </div>

</main>



{% endblock %}
