{% extends "layout.html" %}

{% block pageTitle %}
  NPD search and filter
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link" href="/new-application">Back</a>
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">

  <h1 class="govuk-heading-xl">
    NPD Search & Filter
    <span id="hint" class="govuk-hint">
      Search and filter the variables and datasets inside the NPD.
    </span>
  </h1>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <div class="govuk-form-group">
        <label class="govuk-label" for="name">
          Search
        </label>
        <input class="govuk-input govuk-!-width-one-half" id="name" name="name" type="text" value="Postcode"><button type="submit" class="govuk-button govuk-button-search">
  Search
</button>
      </div>
    </div>

    <div class="govuk-grid-column-one-third govuk-filters">
      <h3 class="govuk-heading-s">Data type</h3>

      <div class="govuk-checkboxes govuk-checkboxes-small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="data-type-1" name="data-type" type="checkbox" value="dataset">
          <label class="govuk-label govuk-checkboxes__label" for="data-type-1">
            Dataset
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="data-type-2" name="data-type" type="checkbox" value="variable">
          <label class="govuk-label govuk-checkboxes__label" for="data-type-2">
            Variable
          </label>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h3 class="govuk-heading-s">Education phase</h3>

      <div class="govuk-checkboxes govuk-checkboxes-small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-1" name="organisation" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-1">
            Early years
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
            Primary
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
            Secondary
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
            Post 16
          </label>
        </div>
        <a href="#0">Show more</a>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h3 class="govuk-heading-s">Data sources</h3>

      <div class="govuk-checkboxes govuk-checkboxes-small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="source-1" name="source" type="checkbox" value="npd">
          <label class="govuk-label govuk-checkboxes__label" for="source-1">
            National Pupil Database
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="source-2" name="source" type="checkbox" value="ilr">
          <label class="govuk-label govuk-checkboxes__label" for="source-2">
            Spring census
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="source-3" name="source" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="source-3">
            Autumn census
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="source-4" name="source" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="source-4">
            Edubase
          </label>
        </div>
        <a href="#0">Show more</a>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h3 class="govuk-heading-s">Categories</h3>

      <div class="govuk-checkboxes govuk-checkboxes-small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="individual-1" name="individual" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="individual-1">
            Attainment and exam information
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="individual-2" name="individual" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="individual-2">
            Age
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="individual-3" name="individual" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="individual-3">
            Absence & Exclusion
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="individual-4" name="individual" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="individual-4">
            Ethnicity
          </label>
        </div>
        <a href="#0">Show more</a>
      </div>

    </div>

    <div class="govuk-grid-column-two-thirds govuk-results">
      <h1 class="govuk-heading-l govuk-!-display-inline">Your results</h1>

      <div class="govuk-form-group govuk-!-display-inline-block right">
        <label class="govuk-label govuk-!-display-inline govuk-!-padding-right-2" for="sort">
          Sort by
        </label>
        <select class="govuk-select govuk-!-display-inline" id="sort" name="sort">
          <option value="published">Recently added</option>
          <option value="updated">Recently updated</option>
          <option value="relevance" selected>Relevance</option>
          <option value="az">A - Z</option>
        </select>
      </div>

      <nav role="navigation" aria-label="Pagination">
        <div class="govuk-body govuk-!-font-size-14 pagination__summary govuk-!-margin-bottom-0">Showing 1 &ndash; 10 of 24 results</div>
        <ul class="pagination govuk-!-margin-top-0">
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Previous page"><span aria-hidden="true" role="presentation">&laquo;</span> Previous</a></li>
          <li class="pagination__item"><a class="pagination__link current" href="#0" aria-current="true" aria-label="Page 1, current page">1</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 2">2</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Next page">Next <span aria-hidden="true" role="presentation">&raquo;</span></a></li>
        </ul>
      </nav>

      <div class="card govuk-!-width-full">
        <a href="#0" class="card__body">
          <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-display-inline">Postcode</span>
          <span class="right govuk-!-display-inline"><strong class="govuk-tag">Location</strong></span>
        </a>
        <div class="card__footer govuk-body govuk-!-font-size-14">
          <p class="govuk-!-font-size-14 govuk-!-margin-bottom-2">The code allocated by the Post Office to identify a group of postal delivery points.</p>

          <details class="govuk-details govuk-!-margin-bottom-0">
            <summary class="govuk-details__summary govuk-!-font-size-14">
              <span class="govuk-details__summary-text">
                More details
              </span>
            </summary>
            <div class="govuk-details__text govuk-!-padding-bottom-2">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Source:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>School Census</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Dates:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>2001/02</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Education phase:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>Secondary, Post-16</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Data type:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>Continuous</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Data package:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>4</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Access:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>Remote lab</li>
                  </ul>
                </div>

              </div>
            </div>
          </details>
        </div>
      </div>

      <div class="card govuk-!-width-full">
        <a href="#0" class="card__body">
          <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-display-inline">MobilityInd</span>
          <span class="right govuk-!-display-inline"><strong class="govuk-tag">Mobility</strong></span>
        </a>
        <div class="card__footer govuk-body govuk-!-font-size-14">
          <p class="govuk-!-font-size-14 govuk-!-margin-bottom-2">Flag to show if the Pupil's postcode has changed since the previous Spring Census.</p>

          <details class="govuk-details govuk-!-margin-bottom-0">
            <summary class="govuk-details__summary govuk-!-font-size-14">
              <span class="govuk-details__summary-text">
                More details
              </span>
            </summary>
            <div class="govuk-details__text govuk-!-padding-bottom-2">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Source:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>School Census</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Dates:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>2008/09</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Education phase:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>Primary, Secondary, Post-16</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Data type:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>Continuous</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Data package:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>4</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Access:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>Remote lab</li>
                  </ul>
                </div>

              </div>
            </div>
          </details>
        </div>
      </div>

      <div class="card govuk-!-width-full">
        <a href="#0" class="card__body">
          <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-display-inline">IDACI_S</span>
          <span class="right govuk-!-display-inline"><strong class="govuk-tag">Socio-economic</strong></span>
        </a>
        <div class="card__footer govuk-body govuk-!-font-size-14">
          <p class="govuk-!-font-size-14 govuk-!-margin-bottom-2">IDACI (Income Deprivation Affecting Children Indices) score derived from the pupil's postcode.</p>

          <details class="govuk-details govuk-!-margin-bottom-0">
            <summary class="govuk-details__summary govuk-!-font-size-14">
              <span class="govuk-details__summary-text">
                More details
              </span>
            </summary>
            <div class="govuk-details__text govuk-!-padding-bottom-2">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Source:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>School Census</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Dates:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>2001/02</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Education phase:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>Secondary, Post-16</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Data type:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>Continuous</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Data package:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>2</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Access:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>Remote lab</li>
                  </ul>
                </div>

              </div>
            </div>
          </details>
        </div>
      </div>

      <div class="card govuk-!-width-full">
        <a href="#0" class="card__body">
          <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-display-inline">IDACI_R</span>
          <span class="right govuk-!-display-inline"><strong class="govuk-tag">Socio-economic</strong></span>
        </a>
        <div class="card__footer govuk-body govuk-!-font-size-14">
          <p class="govuk-!-font-size-14 govuk-!-margin-bottom-2">IDACI (Income Deprivation Affecting Children Indices) rank derived from the pupil's postcode.</p>

          <details class="govuk-details govuk-!-margin-bottom-0">
            <summary class="govuk-details__summary govuk-!-font-size-14">
              <span class="govuk-details__summary-text">
                More details
              </span>
            </summary>
            <div class="govuk-details__text govuk-!-padding-bottom-2">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Source:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>School Census</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Dates:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>2001/02</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Education phase:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>Secondary, Post-16</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Data type:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>Continuous</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Data package:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>2</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Access:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>Remote lab</li>
                  </ul>
                </div>

              </div>
            </div>
          </details>
        </div>
      </div>

      <div class="card govuk-!-width-full">
        <a href="#0" class="card__body">
          <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-display-inline">DistCurrSch</span>
          <span class="right govuk-!-display-inline"><strong class="govuk-tag">Mobility</strong></span>
        </a>
        <div class="card__footer govuk-body govuk-!-font-size-14">
          <p class="govuk-!-font-size-14 govuk-!-margin-bottom-2">Distance in miles from pupil postcode to current school.</p>

          <details class="govuk-details govuk-!-margin-bottom-0">
            <summary class="govuk-details__summary govuk-!-font-size-14">
              <span class="govuk-details__summary-text">
                More details
              </span>
            </summary>
            <div class="govuk-details__text govuk-!-padding-bottom-2">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Source:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>School Census</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Dates:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>2008/09</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Education phase:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>Primary, Secondary, Post-16</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Data type:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>Continuous</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Data package:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>4</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Access:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>Remote lab</li>
                  </ul>
                </div>

              </div>
            </div>
          </details>
        </div>
      </div>

      <div class="card govuk-!-width-full">
        <a href="#0" class="card__body">
          <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-display-inline">Address_Postcode</span>
          <span class="right govuk-!-display-inline"><strong class="govuk-tag">Location</strong></span>
        </a>
        <div class="card__footer govuk-body govuk-!-font-size-14">
          <p class="govuk-!-font-size-14 govuk-!-margin-bottom-2">Address postcode.</p>

          <details class="govuk-details govuk-!-margin-bottom-0">
            <summary class="govuk-details__summary govuk-!-font-size-14">
              <span class="govuk-details__summary-text">
                More details
              </span>
            </summary>
            <div class="govuk-details__text govuk-!-padding-bottom-2">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Source:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>NCCIS</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Dates:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>2016/17</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Education phase:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>Post-16</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Data type:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>Continuous</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Data package:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>4</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Access:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>Remote lab</li>
                  </ul>
                </div>

              </div>
            </div>
          </details>
        </div>
      </div>

      <div class="card govuk-!-width-full">
        <a href="#0" class="card__body">
          <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-display-inline">DistNearSch</span>
          <span class="right govuk-!-display-inline"><strong class="govuk-tag">Mobility</strong></span>
        </a>
        <div class="card__footer govuk-body govuk-!-font-size-14">
          <p class="govuk-!-font-size-14 govuk-!-margin-bottom-2">Distance in miles from pupil postcode to nearest suitable school.</p>

          <details class="govuk-details govuk-!-margin-bottom-0">
            <summary class="govuk-details__summary govuk-!-font-size-14">
              <span class="govuk-details__summary-text">
                More details
              </span>
            </summary>
            <div class="govuk-details__text govuk-!-padding-bottom-2">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Source:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>School Census</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Dates:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>2008/09</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Education phase:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>Primary, Secondary, Post-16</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Data type:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>Continuous</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Data package:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>4</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Access:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>Remote lab</li>
                  </ul>
                </div>

              </div>
            </div>
          </details>
        </div>
      </div>

      <div class="card govuk-!-width-full">
        <a href="#0" class="card__body">
          <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-display-inline">NearSchLAEstab</span>
          <span class="right govuk-!-display-inline"><strong class="govuk-tag">Mobility</strong></span>
        </a>
        <div class="card__footer govuk-body govuk-!-font-size-14">
          <p class="govuk-!-font-size-14 govuk-!-margin-bottom-2">LAESTAB number of nearest suitable school to pupil postcode.</p>

          <details class="govuk-details govuk-!-margin-bottom-0">
            <summary class="govuk-details__summary govuk-!-font-size-14">
              <span class="govuk-details__summary-text">
                More details
              </span>
            </summary>
            <div class="govuk-details__text govuk-!-padding-bottom-2">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Source:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>School Census</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Dates:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>2008/09</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Education phase:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>Primary, Secondary, Post-16</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Data type:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>Continuous</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Data package:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>4</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Access:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>Remote lab</li>
                  </ul>
                </div>

              </div>
            </div>
          </details>
        </div>
      </div>

      <div class="card govuk-!-width-full">
        <a href="#0" class="card__body">
          <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-display-inline">OACODE</span>
          <span class="right govuk-!-display-inline"><strong class="govuk-tag">Location</strong></span>
        </a>
        <div class="card__footer govuk-body govuk-!-font-size-14">
          <p class="govuk-!-font-size-14 govuk-!-margin-bottom-2">National Statistics Postcode Directory Census Output Area derived from the pupil's postcode.</p>

          <details class="govuk-details govuk-!-margin-bottom-0">
            <summary class="govuk-details__summary govuk-!-font-size-14">
              <span class="govuk-details__summary-text">
                More details
              </span>
            </summary>
            <div class="govuk-details__text govuk-!-padding-bottom-2">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Source:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>School Census</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Dates:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>2001/02</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Education phase:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>Secondary, Post-16</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Data type:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>Continuous</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Data package:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>4</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Access:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>Remote lab</li>
                  </ul>
                </div>

              </div>
            </div>
          </details>
        </div>
      </div>

      <div class="card govuk-!-width-full">
        <a href="#0" class="card__body">
          <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-display-inline">LSOA11</span>
          <span class="right govuk-!-display-inline"><strong class="govuk-tag">Location</strong></span>
        </a>
        <div class="card__footer govuk-body govuk-!-font-size-14">
          <p class="govuk-!-font-size-14 govuk-!-margin-bottom-2">National Statistics Postcode Directory Lower Layer Super Output Area derived from the pupil's postcode (based on 2011 Census).</p>

          <details class="govuk-details govuk-!-margin-bottom-0">
            <summary class="govuk-details__summary govuk-!-font-size-14">
              <span class="govuk-details__summary-text">
                More details
              </span>
            </summary>
            <div class="govuk-details__text govuk-!-padding-bottom-2">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Source:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>School Census</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Dates:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>2001/02</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Education phase:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-3">
                    <li>Secondary, Post-16</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Data type:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>Continuous</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Data package:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>4</li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-third govuk-!-padding-right-0">
                  <p class="govuk-!-font-size-14 govuk-!-margin-bottom-0"><strong>Access:</strong></p>
                  <ul class="govuk-list govuk-!-font-size-14 govuk-!-margin-bottom-0">
                    <li>Remote lab</li>
                  </ul>
                </div>

              </div>
            </div>
          </details>
        </div>
      </div>


      <nav role="navigation" aria-label="Pagination">
        <div class="govuk-body govuk-!-font-size-14 pagination__summary govuk-!-margin-bottom-0">Showing 1 &ndash; 10 of 24 results</div>
        <ul class="pagination govuk-!-margin-top-0">
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Previous page"><span aria-hidden="true" role="presentation">&laquo;</span> Previous</a></li>
          <li class="pagination__item"><a class="pagination__link current" href="#0" aria-current="true" aria-label="Page 1, current page">1</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 2">2</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Next page">Next <span aria-hidden="true" role="presentation">&raquo;</span></a></li>
        </ul>
      </nav>
    </div>


  </div>

</main>



{% endblock %}
