
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        NPD Modernisation Prototypes
      </h1>{{releaseVersion | log }}
      <p>
        These prototypes have been built using the <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>.
        They are not functional and no data is held or submitted to any external sources.
      </p>

      <h2 class="govuk-heading-m">New Application</h2>

      <p>Creating a new application for an NPD Data Request.</p>

      <p><a href="/new-application.html">Start a new application</a></p>

      <hr /><br />

      <h2 class="govuk-heading-m">New Form Application</h2>

      <p>An alternate version of the application form online.</p>

      <p><a href="/new-form/step-1.html">Use new form.</a></p>

      <hr /><br />

      <h2 class="govuk-heading-m">Data Funnel Prototype</h2>

      <p>An idea to allow easier filtering of the data available and to help differentiate between standard and bespoke extracts.</p>

      <p><a href="/funnel/step-1.html">Choose your data</a></p>

      <hr /><br />

      <h2 class="govuk-heading-m">ONS Project Application Demo</h2>

      <p>Alternative ideas for ONS Project Application process. Work in Progress.</p>

      <p><a href="/ons/intro.html">Project application</a></p>
    </div>
</div>

{% endblock %}
