{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block beforeContent %}
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Organisations</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Department for Education</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">{% if serviceName %} {{ serviceName }} {% endif %}</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        How to access Department for Education (DfE) data extracts
        <span class="govuk-caption-l">Applying for data extracts from the NPD, School Workforce, ILR and HESA.</span>
      </h1>

      <p>The Department for Education now provides access to data from a number of sources. These include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>National Pupil Database (NPD)</li>
        <li>School Workforce</li>
        <li>Independent Learner Records (ILR)</li>
        <li>Higher Education Standards Authority (HESA)</li>
        <li>Childrens Services (CIN and CLA)</li>
      </ul>

      <h2 class="govuk-heading-s">Before you start</h2>

      <p>You'll need a <a class="govuk-link" href="#">basic DBS check</a> that is under 2 years old.</p>

      <p>You'll also need to be accredited under the <a class="govuk-link" href="#">ONS approved researcher scheme</a>.</p>

      <p>The application takes around <strong>3 hours</strong>.</p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-s">Applying for access</h2>

      <p>You can download the application form below. There are also some other files that you will need to help you complete your application. If you have any questions before starting you can email any questions to us at <a href="">data.sharing@education.gov.uk</a></p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">NPD data tables</a> - .xlsx format (23kb)</li>
        <li><a href="">Standard extract data tables</a> - .xlsx (34kb)</li>
        <li><a href="">Guideance documentation</a> - .docx (12kb)</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-s">Accessing the data using the Secure Research Service</h2>

      <p>Once you are an ONS approved researcher and your data application has been approved, there are 2 ways you can access DfE data for approved projects through the Secure Research Service. You can use:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><strong>Physical labs</strong> – you can book a session to access DfE data at 1 of 5 ONS locations across the UK
          <li><strong>Remote access</strong> – once your organisation meets security standards and have organised connectivity with ONS, you can access data online using your own equipment subject to specified conditions</li>
        </ul>
      <p>For more details on how to become approved for remote access, please contact <a href="">research.support@ons.gov.uk</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <a href="https://docs.google.com/document/d/1BoJUUam6QmVjhDhMnXL6MtjEYjz2SRGEfybdoq0iPbw/edit?usp=sharing" role="button" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">Download application form</a>


    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          More information
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                NPD Standard Extracts
              </a>
            </li>
            <li>
              <a href="#">
                Office for National Statistics
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
